<div class="row">
<div class="col-md-6 col-md-offset-3">
  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :wechat %><br>
      <%= f.text_field :wechat, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, class: "form-control"  %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, class: "form-control"  %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: "form-control"  %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: "form-control"  %>
    </div>
    <div class="actions">
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>
