<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<%= will_paginate %>
<ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
        <span class="label label-danger"><%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </li>
    <% end %>
</ul>
<%= will_paginate %>

<br>

<%= link_to 'New User', new_user_path %>
