<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Wechat:</strong>
  <%= @user.wechat %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>添加的商户</h2>
<ul>
  <% @user.introduced_places.each do |place| %>
    <li><div><%= link_to place.name, place_url(Place.friendly.find(place.id)) %></div>
      <div><%= place.location %></div></li>
  <% end %>
</ul>

<h3>使用的 tag</h3>
<ul>
  <% @user.owned_tags.sort_by {|t| t.taggings_count}.reverse.each do |t| %>
    <li><%= link_to t.name, perk_path(perk: t.name) %></li>
  <% end %>
</ul>

<h2><%= @user.name %>的点评</h2>
<% @user.reviews.order(id: :desc).take(3).each do |rev| %>
  <div>对 <%= link_to Place.find(rev.place_id).name, place_url(Place.find(rev.place_id)) %> 的评论：
  <div><h4><%= link_to rev.title, review_url(Review.find(rev.id)) %></h4></div>
  <div>评分 <%= rev.rating %></div>
  <div><%= rev.contents %></div>
  <hr>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
