<div>
<h1>Welcome</h1>
</div>

<div>
  <h2>最近加入的用户:</h2>
  <div>
    <% @users.order(id: :desc).first(5).each do |user| %>
      <span><%= link_to user.name, user %></span>
    <% end %>
  </div>
</div>
