<%= form_for (@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>* 代表必填</p>
  <p>** 代表可不填写，但如填写必须超过20字</p>
  <div class="field">
    <%= f.label "标题" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "评分 *" %><br>
    <%= f.select :rating, (1..5).to_a %>
  </div>

  <%= f.hidden_field :place_id, :value => @place.nil? ? @review.place_id : @place.id %>

  <div class="field">
    <%= f.label "点评内容 **" %><br>
    <%= f.text_area :contents, size: "40x10" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
