<p id="notice"><%= notice %></p>

<p><%= link_to User.find(@review.user_id).name, user_path(User.find(@review.user_id)) %> 对
   <%= link_to Place.find(@review.place_id).name, place_path(Place.find(@review.place_id)) %> 的评价
<h1><%= @review.title %></h1>

<h3>评分：<%= @review.rating %></h3>
<div><%= @review.contents %></div>

<% if (!current_user.nil? && (current_user.id == @review.user_id)) %>
  <%= link_to 'Edit', edit_review_path(@review) %> |
<% end %>
<%= link_to 'Back', place_path(Place.friendly.find(@review.place_id)) %>
