<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "类别" %><br>
    <% # max allowed options = 3. But select sends an empty hidden field %>
    <% # to avoid the mass edit gotcha, see api.rubyonrails.org/classes/ActionView/Helpers/FormOptionsHelper.html#method-i-select %>
    <%= f.select :cat_list, @place.place_cats, { prompt: "类别", selected: @place.cat_list }, { multiple: true, size: 4 } %>
  </div>
  <div class="field">
    <%= f.label :province %><br>
    <%= f.text_field :province %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :community %><br>
    <%= f.text_field :community %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :nearby %><br>
    <%= f.text_field :nearby %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :opentime %><br>
    <%= f.text_field :opentime %>
  </div>
  <div>
    请在下面框中输入您希望给商户添加的标签，标签可以描述商户拥有的设施，如：宝宝椅，宝宝餐具，或描述商户的人员配备，如：导乐，灯光师，或其他您认为有助于他人了解商户情况的词或短语。标签请用中文或英文逗号分隔。
  </div>
  <div class="field">
    <%= f.label "特色标签" %><br>
    <%= f.text_field :perk_list, value: @place.all_perk_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
