
<p id="notice"><%= notice %></p>

<h1>带有<%= params[:cat] %>标签的商家</h1>

<ul>
  <% @places_by_cat.each do |place| %>
    <li><%= link_to place.name, place_path(place.id) %></li>
  <% end %>

<br>

<%= link_to 'New Place', new_place_path %>
