<p id="notice"><%= notice %></p>

<h1>带有<%= params[:perk] %>标签的商家</h1>

<ul>
  <% @places_by_perk.each do |place| %>
    <li><%= link_to place.name, place_path(Place.friendly.find(place.id)) %></li>
  <% end %>

<br>

<%= link_to 'New Place', new_place_path %>
