<p id="notice"><%= notice %></p>

<p>
  <strong>名称</strong>
  <%= @place.name %>
</p>

<p id="test-cat">
  <strong>类别</strong>
  <% @place.cat.each do |tag| %>
    <%= link_to tag.name, category_path(cat: tag.name) %>
  <% end %>
</p>

<p id="test-perk">
  <strong>特色</strong>
  <% @place.perk.uniq.sort_by { |perk| perks_count_by_usage[perk.id] }.reverse.take(10).each do |tag| %>
    <%= link_to tag.name, perk_path(tag.name) %>
  <% end %>
</p>

<p id="test-rating">
  <strong>评分</strong>
  <%= ((@place.reviews.reduce(0) { |total, rev| total += rev.rating }).to_f / @place.reviews.count).round(2) %>
</p>

<p>
  <strong>位置</strong>
  <%= @place.province %>
  <%= @place.city %>
  <%= @place.community %>
  <%= @place.location %>
</p>

<p>
  <strong>电话</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>营业时间</strong>
  <%= @place.opentime %>
</p>

<% unless (@place.introducer_id.nil?) %>
  <p>本商户由 <%= link_to User.find(@place.introducer_id).name, user_path(User.find(@place.introducer_id)) %> 添加。</p>
<% end %>

<% unless @place.reviews.empty? %>
<h2>点评</h2>

<% @place.reviews.order(id: :desc).first(3).each do |rev| %>
  <div>
    <h3><%= link_to rev.title, review_path(Review.find(rev.id)) %></h3>
    <div>作者 <%= link_to User.find(rev.user_id).name, user_path(User.find(rev.user_id)) %> 评分 <%= rev.rating %></div>
    <div><%= rev.contents %></div>
  </div>
<% end %>
<% end %>

<% # TODO: 添加 more 按钮，点击后展开所有点评 %>

<% if !current_user.nil? %>
  <% if @place.reviews.empty? %>
    <h2>我要点评</h2>
  <% else %>
    <h2>我也要点评</h2>
  <% end %>
  <% @review = Review.new %>
  <%= render 'reviews/form' %>
  <%= link_to 'Edit', edit_place_path(Place.friendly.find(@place.id)) %> |
<% end %>
<%= link_to 'Back', places_path %>
