<footer>
<nav class="nav navbar-default">
  <div class="navbar-text">© 2015. U.S.S. Enterprise.</div>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "Blog", '#' %></li>
      <li><%= link_to "About us", '#' %></li>
    </ul>
</nav>
</footer>
