<header>
<div>
  <nav class="navbar navbar-default">
    <%= link_to "Wawale App", root_path, class: "navbar-brand", id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", static_pages_about_path %></li>
      <li><%= link_to "Apps", static_pages_apps_path %></li>
      <% if logged_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
        <li><%= link_to "Places", places_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
</header>
