<!DOCTYPE html>
<html>
<head>
  <title>WawaleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>
</body>
</html>
